<head>

	<link rel="stylesheet" href="btn.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>

<body>

</body>

<body>
    <div id="app">
        <v-app id="inspire">

            <template>
                <div>
                    <v-app-bar color="primary" dense dark>
                        <v-app-bar-nav-icon></v-app-bar-nav-icon>

                        <v-toolbar-title>JW Player Tool</v-toolbar-title>

                        <v-spacer></v-spacer>
                      
                        <v-switch v-model="$vuetify.theme.dark" color="black" hide-details inset label="Switch Theme"></v-switch>
 
                    </v-app-bar>
                </div>
            </template>


            <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <v-card class="elevation-12">
                                <v-toolbar color="primary" dark flat>
                                    <v-toolbar-title>JW Player Login </v-toolbar-title>
                                    <v-spacer></v-spacer>
                                </v-toolbar>
                                <v-card-text>
                                    <v-form> 
                                        <v-text-field label="Username" v-model="UserUsername" name="Username"
                                            prepend-icon="person" type="text"></v-text-field>

                                        <v-text-field id="password" v-model="UserPassword" label="Password"
                                            name="password" prepend-icon="lock" type="password"></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-row justify="center">
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="Primary" text>Login</v-btn>
                                            <v-btn text disabled>or</v-btn>
                                            <v-btn color="Warning" text @click="registerModal = true">Register</v-btn>
                                        </v-card-actions>
                                    </v-row> 
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>

            <template>
                <v-dialog v-model="registerModal" persistent max-width="600px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">User Profile</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Legal first name*" required></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Legal middle name"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Legal last name*" required></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="UserUsername" label="Username*" required>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="UserPassword" label="Password*" type="password" required>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field label="Verify Password*" type="password" required>
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="registerModal = false">Close</v-btn>
                            <v-btn color="blue darken-1" text @click="registerModal = false">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </template>



        </v-app>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(
                {
                    theme: {
                        dark: true,
                    },
                }),
            data: {
                testvar: true,
                registerModal: false,
                UserUsername: '',
                UserPassword: '',

            },
            mounted: function () {
            },
            created: function () {

            },
            destroyed: function () {

            },
            methods: {

                testMethod() {

                },

            }
        })
    </script>
</body>